<div>
	<h2>User</h2>
	<h4>Name:</h4>
	<p><%=@user.name%></p>
	<h4>Email:</h4>
	<p><%=@user.email%></p>
	<h4>Password:</h4>
	<p><%=@user.password%></p>
</div>
<%=link_to "Return Home", home_index_path%>