<h1>Welcome to MovieReviews!</h1>
<%=link_to "New User", new_user_path%>
<%=link_to "New Recommendation", new_recommendation_path%>
<%=link_to "View Users", users_path%>
<%=link_to "View Recommendations", recommendations_path%>