/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



.hide{
	display: none;
}

.square{
	position: relative;
	top: 200px;
	width: 50px;
	height: 50px;
	background-color: aqua;
}

.nav{	
	position: relative;
	top:0;
	width: 100%;
	background-image: -webkit-linear-gradient(top, #696969, #3f3f3f);
	height: 42px;
	box-shadow: 0px 0px 10px #333;
}

ul a{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: purple;
}

.nav li{
	display: inline;
	display: block;
	float: none; 
	list-style-type: none;
}

.nav-link{
	padding: 10px;
	padding-top: 13px;
	padding-bottom: 14px;
	text-decoration:none;
	color: black;
	font-weight: bold;
	background-image: -webkit-linear-gradient(top, #66CCCC, #8FD8D8);
	float: left;
}